{% extends 'base.html' %}
{% block content %}
<h4>Contact List</h4>
<div>	
	<a href="{% url 'create' %}">Create New</a>
	<ol>
		{% for contact in contact_list %}	
			<li><a href="{% url 'detail' contact.id %}">{{contact.name}}</a> | <a href="{% url 'update' contact.id %}">Update</a> | <a href="{% url 'delete' contact.id %}">Delete</a></li>
		{% endfor %}
	</ol>
</div>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Phone</th>
        <th>Email</th>
        <th>modify</th>
      </tr>
    </thead>
    <tbody>
    {% for contact in contact_list %}	
      <tr>

        <td><a href="{% url 'detail' contact.id %}">{{contact.name}}</a> </td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
        <td><a href="{% url 'update' contact.id %}">Update</a> | <a href="{% url 'delete' contact.id %}">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<table data-toggle="table">
    <thead>
        <tr>
	        <th>Firstname</th>
	        <th>Phone</th>
	        <th>Email</th>
	        <th>modify</th>
        </tr>
    </thead>
    <tbody>
    {% for contact in contact_list %}
        <tr>
			<td><a href="{% url 'detail' contact.id %}">{{contact.name}}</a> </td>
	        <td>{{contact.phone}}</td>
	        <td>{{contact.email}}</td>
	        <td><a href="{% url 'update' contact.id %}">Update</a> | <a href="{% url 'delete' contact.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>





{% endblock %}